body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-top: 2rem;
}

.card {
  background-color: orange;
  border-radius: 0.5rem;
}

p {
  font-size: 3rem;
  font-weight: 300rem;
}
